.ck-content {
    @import 'reset-styles';

    .list-none {
        list-style: none;

        li {
            list-style: none;
        }
    }
}

.show-admin-bar {
    #topnav {
        top: 40px;

        .navigation-menu {
            li {
                margin: 0 5px;
            }
        }
    }

    #filter-drawer {
        margin-top: 40px;
    }

    .google-map {
        margin-top: 7.5rem !important;
    }

    .ck-content {
        section.mt-20 {
            margin-top: 120px !important;
        }
    }
}

.mdi-spin {
    &:before {
        animation: mdi-spin 0.7s linear infinite;
    }
}

.invalid-feedback {
    color: #dc3545;
    font-size: .875em;
    margin-top: 0.25rem;
    width: 100%;
}

.form-input.is-invalid, .was-validated .form-control:invalid {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545'%3E%3Ccircle cx='6' cy='6' r='4.5'/%3E%3Cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3E%3Ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3E%3C/svg%3E");
    background-position: right calc(0.4em + 0.1875rem) center;
    background-repeat: no-repeat;
    background-size: calc(0.8em + 0.375rem) calc(0.8em + 0.375rem);
    border-color: #dc3545;
    padding-right: calc(1.6em + 0.75rem);
}

.ck-content {
    .table {
        margin: 0;
    }
}

#alert-container {
    top: 130px;
    right: 5px;
    position: fixed;
    z-index: 9999999;

    .alert {
        @apply rounded-md shadow-sm shadow-gray-400 mb-2.5;
        max-width: 450px !important;
        min-height: 45px !important;
        font-weight: 400;
        position: relative;
        padding: 15px 60px 15px 40px;

        &.alert-success {
            color: #299c77;
            background-color: #bff9d0;
        }

        &.alert-danger {
            color: #721c24;
            background-color: #f8d7da;
            border-color: #f5c6cb;
        }

        .message-icon {
            position: absolute;
            left: 5%;
            top: 11px;
            font-size: 20px;
            fill: #299c77;
            stroke: #299c77;
        }

        &.alert-dismissible {
            .close {
                position: absolute;
                top: 5px;
                right: 15px;
                font-size: 10px;
                padding: 0;
            }
        }
    }
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: white;
    color: #333;
    box-shadow: 0 3px 14px rgb(0 0 0 / 40%);
}

.leaflet-popup-content-wrapper {
    padding: 1px;
    text-align: left;
    border-radius: 12px;
}

.leaflet-pane .leaflet-popup-content {
    margin: 0.5em 0.5em 0.25em;
}

.leaflet-popup-content {
    min-width: 300px;

    .blii {
        .status-label {
            font-size: 12px;
            padding: 3px;
        }
    }
}

.leaflet-container {
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.leaflet-popup-tip-container {
    width: 40px;
    height: 20px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    overflow: hidden;
    pointer-events: none;
}

.property-street-map {
    .boxmarker {
        --tw-bg-opacity: 1;
        display: inline-block;
        white-space: nowrap;
        color: #fff;
        background-color: rgb(var(--primary-color) / var(--tw-bg-opacity));
        padding: 2px 5px;
        border-radius: 3px;
        box-shadow: 0 0 5px #333;
        text-align: center;
        font-weight: bold;
        width: auto !important;
    }

    .infomarker {
        h5 {
            font-size: 15px;
            margin: 0;
            padding: 0;
            overflow: hidden;
            font-weight: bold;

            a {
                --tw-bg-opacity: 1;
                color: rgb(var(--primary-color) / var(--tw-bg-opacity));
            }
        }

        .text-info {
            color: #17a2b8 !important;
        }
    }

    .label-success {
        background-color: #36c6d3;
        color: #fff;
    }
}

.status-label {
    @apply flex items-center justify-center px-4 py-1 text-white rounded;
}

.label-success {
    @apply bg-teal-500 text-white bg-opacity-80;
}

.label-danger {
    @apply bg-red-500 text-white bg-opacity-80;
}

.label-info {
    @apply bg-sky-600 text-white bg-opacity-80;
}

.label-default {
    @apply bg-gray-500 text-white bg-opacity-80;
}

.item-info-wrap {
    span {
        @apply relative rounded-none first:bg-[--primary-color-rgb] first:me-[27px] first:after:absolute first:after:top-0 first:after:border-e-[25px] first:after:border-e-transparent first:after:border-t-[33px] first:after:border-t-[--primary-color-rgb] first:after:start-full first:after:content-[''] last:after:absolute last:after:top-0 last:after:border-s-[25px] last:after:border-s-transparent last:after:end-full last:after:content-[''];

        &.label-success {
            @apply after:border-b-[33px] after:border-b-teal-500 after:border-opacity-80;
        }

        &.label-danger {
            @apply after:border-b-[33px] after:border-b-red-500 after:border-opacity-80;
        }

        &.label-info {
            @apply after:border-b-[33px] after:border-b-sky-500 after:border-opacity-80;
        }

        &.label-default {
            @apply after:border-b-[33px] after:border-b-gray-500 after:border-opacity-80;
        }
    }
}

.leaflet-popup-content {
    .blii {
        background-position: 50% 50% !important;
        background-repeat: no-repeat !important;
        padding-top: 0;
        position: relative !important;

        .status {
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 9;

            .status-label {
                font-size: 12px;
                padding: 3px;
            }
        }
    }
}

.button-loading {
    border: 1px solid #c4cdd5;
    cursor: default;
    text-shadow: none;
    color: transparent !important;
    position: relative;
    -webkit-transition: border-color .2s ease-out;
    transition: border-color .2s ease-out;
}

.button-loading, .button-loading:hover, .button-loading:focus, .button-loading:active {
    color: transparent
}

.button-loading:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    margin-top: -9px;
    margin-left: -9px;
    width: 18px;
    height: 18px;
    -webkit-animation: button-loading-spinner .7s linear infinite;
    animation: button-loading-spinner 1s linear infinite;
    border-color: #ffffff;
    border-bottom-color: transparent
}

.button-loading {
    &.btn-fill-out {
        --tw-bg-opacity: 1;
        color: transparent !important;
        border: 1px solid rgb(var(--primary-color) / var(--tw-bg-opacity));

        &:before {
            --tw-bg-opacity: 1;
            width: 18px;
            background-color: transparent;
            border-color: rgb(var(--primary-color) / var(--tw-bg-opacity));
            border-bottom-color: transparent;
        }

        &:after {
            display: none;
        }
    }
}

@-webkit-keyframes button-loading-spinner {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes button-loading-spinner {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

#alert-container {
    .alert.alert-dismissible {
        .close {
            font-size: 20px;
        }
    }
}

.rating-star {
    @apply relative w-[90px] inline-block h-5;

    &:before {
        @apply absolute inset-0 text-slate-400 content-['\f04d2\f04d2\f04d2\f04d2\f04d2'];
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font: normal normal normal 24px/1 Material Design Icons;
        font-size: inherit;
        line-height: inherit;
    }

    .rating-star-item {
        @apply absolute inline-block h-5 overflow-hidden;

        &:before {
            @apply absolute inset-0 text-amber-500 content-['\f04ce\f04ce\f04ce\f04ce\f04ce'];
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            display: inline-block;
            font: normal normal normal 24px/1 Material Design Icons;
            font-size: inherit;
            line-height: inherit;
        }
    }
}

#map {
    min-height: 350px;
    width: 100%;
    height: calc(100% - 103px);
    z-index: 1;

    .leaflet-top {
        z-index: 999;
    }

    .boxmarker {
        display: inline-block;
        white-space: nowrap;
        color: #fff;
        background-color: rgb(var(--primary-color));
        padding: 2px 5px;
        border-radius: 3px;
        box-shadow: 0 0 5px #333;
        text-align: center;
        font-weight: bold;
        width: auto !important;
    }

    .infomarker h5 {
        font-size: 14px;
        padding: 0;
        overflow: hidden;
        margin: 0 0 5px;
        font-weight: bold;
    }
}

.marker-cluster-small {
    background-color: rgba(181, 226, 140, 0.6);

    div {
        background-color: rgba(110, 204, 57, 0.6);
    }
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;

    span {
        line-height: 30px;
    }

    div {
        width: 30px;
        height: 30px;
        margin-left: 5px;
        margin-top: 5px;
        text-align: center;
        border-radius: 15px;
        font: var(--primary-font);
    }
}

.marker-cluster-medium {
    background-color: rgba(241, 211, 87, 0.6);

    div {
        background-color: rgba(240, 194, 12, 0.6);
    }
}

.marker-cluster-large {
    background-color: rgba(253, 156, 115, 0.6);

    div {
        background-color: rgba(241, 128, 23, 0.6);
    }
}

.language-switcher-nav-light {
    span {
        color: rgb(255 255 255 / 0.5);
    }

    i {
        color: rgb(255 255 255 / 0.5);
    }
}

.tns-controls {
    button[data-controls=prev] {
        @apply left-5;
    }

    button[data-controls=next] {
        @apply right-5;
    }
}

.post-detail {
    p {
        @apply py-2;
    }

    img {
        @apply w-full;
    }
}

#map {
    min-height: 350px;
    width: 100%;
    height: calc(100% - 103px);
    z-index: 1;

    .leaflet-top {
        z-index: 999;
    }

    .boxmarker {
        --tw-bg-opacity: 1;
        display: inline-block;
        white-space: nowrap;
        color: #fff;
        background-color: rgb(var(--primary-color) / var(--tw-bg-opacity));
        padding: 2px 5px;
        border-radius: 3px;
        box-shadow: 0 0 5px #333;
        text-align: center;
        font-weight: bold;
        width: auto !important;
    }

    .infomarker {
        h5 {
            font-size: 14px;
            padding: 0;
            overflow: hidden;
            margin: 0 0 5px;
            font-weight: bold;
        }
    }
}

.marker-cluster-small {
    background-color: rgba(181, 226, 140, 0.6);

    div {
        background-color: rgba(110, 204, 57, 0.6);
    }
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;

    span {
        line-height: 30px;
    }

    div {
        width: 30px;
        height: 30px;
        margin-left: 5px;
        margin-top: 5px;
        text-align: center;
        border-radius: 15px;
        font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
    }
}

.marker-cluster-medium {
    background-color: rgba(241, 211, 87, 0.6);

    div {
        background-color: rgba(240, 194, 12, 0.6);
    }
}

.marker-cluster-large {
    background-color: rgba(253, 156, 115, 0.6);

    div {
        background-color: rgba(241, 128, 23, 0.6);
    }
}

.language-switcher-nav-light {
    span, i {
        @apply text-[rgb(255_255_255_/_0.5)] hover:text-white;
    }
}

.tiny-slider[aria-hidden=true] {
    visibility: hidden;
}

footer {
    .currency-switcher + .social-icon {
        &:before {
            @apply content-['|'] px-1 text-gray-600;
        }
    }
}

.logo {
    img {
        max-height: 50px;
    }
}

[dir=rtl] {
    .ck-content {
        ul {
            padding-left: unset;
            padding-right: 25px;
        }
    }

    .br-theme-css-stars {
        .br-widget {
            display: inline-block;
        }
    }

    #alert-container {
        left: 5px;
        right: unset;
    }

    #map {
        .marker-cluster {
            div {
                margin-left: unset;
                margin-right: 5px;
            }
        }
    }
}

